header, .strt-quiz {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#strtbtn {
    background-color: navy;
    color:oldlace;
    font-size: 16pt;
    border-radius: 8px;
}

#strtbtn:hover {
    background-color: black;
    cursor: pointer;
}

.strt-quiz{
    display: block;
}

#top-row {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    list-style: inside;
    font-family: Arial, Helvetica, sans-serif;
}

/* #questions {
    display: none;
} */

#buttons {
    /* display: none; */

    
}